.side-bar{
  position: relative;
  width: 100%;
  float: none;
}
.main{
  width: 100%;
  padding: 10px;
}
.article-list, .article{
  margin: 0;
}

.side-bar .nav,
.side-bar .tag-list{
  text-align: center;
  display: none;
}

/*菜单的选中判断使用的是checkbox的伪类checked，同时使用一个label指向该checkbox而可以隐藏checkbox本身*/
#menu:checked ~ .nav,
#menu:checked ~ .tag-list{
  display: block;
}

#menu-open{
  display: block;
  position: absolute;
  top:10px;
  right:0;
  font-size: 16px;
  font-weight: 100;
  color: rgba(255,255,255,0.8);
}
